@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" type="text/css" href="~/css/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/assets/css/templatemo-softy-pinko.css">
    <div style="padding-left:200px;background-color:#F2F2FE">
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1>Your Prefer Delivery time set to @ViewBag.tem . from Next booking we will try to deliver on that time duration.</h1>
        <br /><br />
        <form runat="server">
        <button type="submit" class="main-button" asp-action="Index" asp-controller="Home">Go Home</button>
            </form>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    
}
