@page
@model ConfirmEmailModel
@{ ViewData["Title"] = "Confirm email"; }
<link rel="stylesheet" type="text/css" href="~/css/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/css/assets/css/font-awesome.css">
<link rel="stylesheet" href="~/css/assets/css/templatemo-softy-pinko.css">
<div style="padding-left:200px;background-color:#F2F2FE">
    <br /><br /><br /><br /><br /><br />
    <partial name="_StatusMessage" model="Model.StatusMessage"  />
    <h1>@ViewData["Title"]</h1>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</div>