@page
@model ForgotPasswordConfirmation
@{ ViewData["Title"] = "Forgot password confirmation"; }
<link rel="stylesheet" type="text/css" href="~/css/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/css/assets/css/font-awesome.css">
<link rel="stylesheet" href="~/css/assets/css/templatemo-softy-pinko.css">
<div style="padding-left:200px;background-color:#F2F2FE">
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password if your email is confirmed or exists.
    </p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
