@page
@model ForgotPasswordModel
@{ ViewData["Title"] = "Forgot your password?"; }
<link rel="stylesheet" type="text/css" href="~/css/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/css/assets/css/font-awesome.css">
<link rel="stylesheet" href="~/css/assets/css/templatemo-softy-pinko.css">
<div style="background-color:#F2F2FE;padding-left:200px">
    <br /><br /><br /><br /><br /><br />
<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"><b>Email:</b></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="main-button">Submit</button>
        </form>
    </div>
</div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
